body{
    background-color: silver;
}

h1, h2{
    color: maroon;
}

header{
    font-family: 'Times New Roman', Times, serif;
    position: fixed;
    background-color: black;
    width: 100%;
    text-align: left;
}

.header-item{
    display: inline block;
    text-align: center;
}


.dropdown{
    position: relative;
    display: inline-block;
}

.drop-content{
    position: absolute;
    background-color: white;
}

.drop-item{
    text-align: left;
    padding: 1em;
    display: block;
}

.header-item:hover{
    background-color: maroon;
}

.dropdown:hover .drop-content{
    display: block;
}

.drop-item:hover{
    color: black;
}
