body{
    background-color: silver;
}

h3{
    color: rgb(184, 115, 51);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    background-color: rgb(184, 115, 51);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    height: 4em;
    width: 100%;
    text-align: left;
}

.menu-item {
    display: inline-block;
    margin: 1em .2em;
    min-width: 6em;
    text-align: center;
    background-color: rgb(184, 115, 51);
    padding: 0.5em 1em;
    border: 1px solid rgb(255, 215, 0);
}

.menu-item a {
    color: rgb(255, 215, 0);
}

.menu-item:hover {
    background-color: rgb(184, 115, 51);
   
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid black;
    margin: 0.5em 0 0 -1em;
    color: black;
    background-color: rgb(255, 215, 0);
    z-index: 1;
}
.dropdown-content a {
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0.5em 1em 0.5em 1em;
    min-width: 5.9em;
}

.dropdown-item:hover, .dropdown-item:hover a {
    color: rgb(255, 215, 0);
    background-color: rgb(184, 115, 51);
}

.overflow-scroll{
    overflow: scroll;
}

.scroll-box{
    width: 75%;
    max-width: 75%;
    height: 25%;
    max-height: 25%;
    margin-top: 50px;
    background-color: rgb(255, 215, 0);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    left: 12.5%;
}
