body{
    background-color: silver;
}

h1, h2{
    color: maroon;
}

.drop-button{
    background-color: black;
    color: maroon;
    padding: 16px;
    font-size: 16px;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.drop-content{
    position: absolute;
    background-color: white;
}
