header{
    position: fixed;
    background-color: black;
    font-family: Merriweather;
    margin-top: 0;
    top: 0px;
    left: 0px;
    height: 4em;
    width: 100%;
    text-align: left;
    z-index: 2;
}

.menu-item{
    display: inline-block;
    margin: 0.5em 0.5em;
    min-width: 5em;
    text-align: center;
    background-color: black;
    padding: 0.5em 1em;
}

.menu-item a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.menu-item:hover{
    background-color: gray;
}

.dropdown{
    display: inline-block;
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    border: 1px solid black;
    margin: 0.5em 0 0 -0.5em;
    color: black;
    background-color: white;
    z-index: 3;
}

.dropdown-content a {
    color: black;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-item{
    display: block;
    text-align: center;
    color: black;
    margin: 0;
    padding: 0.5em 1em 0.5em 1em;
    min-width: 6em
}

.dropdown-item:hover, .dropdown-item:hover a {
    background-color: gray;
}

div.align{
    text-align: center;
}

.home-par{
    font-family: Merriweather;
    font-size: 32px;
    color: white;
    width: 50%;
    max-width: 50%;
    position: relative;
    margin-top: 200px;
    margin-left: 25%;
}

.heading-box1{
    width: 100%;
    margin-top: 4em;
    background-color: #FDD52B;
    color: #64C9E3;
    text-align: left;
    height: 4em;
    font-family: Merriweather;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 1;
}

.heading-box2{
    width: 100%;
    margin-top: 4em;
    background-color: #111615;
    color: #C62C2A;
    text-align: left;
    height: 4em;
    font-family: Merriweather;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 1;
}

.heading-box3{
    width: 100%;
    margin-top: 4em;
    background-color: #F92D0A;
    color: #E98E09;
    text-align: left;
    height: 4em;
    font-family: Merriweather;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 1;
}

.heading-box4{
    width: 100%;
    margin-top: 4em;
    background-color: #2C1D15;
    color: #CBA154;
    text-align: left;
    height: 4em;
    font-family: Merriweather;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 1;
}

.heading-box5{
    width: 100%;
    margin-top: 4em;
    background-color: #CDCFCE;
    color: #DCABBE;
    text-align: left;
    height: 4em;
    font-family: Merriweather;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 1;
}

h1{
    font-family: Merriweather;
    position: relative;
    margin-top: auto;
}

img{
    height: 50%;
    width: 50%;
    margin-top: 12.5%;
    margin-left: 25%;
}

.page-par{
    width: 75%;
    color: black;
    margin: 6.25% 12.5%;
    font-family: Merriweather;
    font-size: 16px;
    text-align: center;
}

@media only screen and (max-width: 600px){
    body{
        background-color: gray;
        background-image: none;
    }
}