@font-face {
    font-family: 'Aquiline';
    src: url('../fonts/AquilineTwo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MagicSchool';
    src: url(../fonts/MagicSchoolOne-ovYz.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MagicSchool';
    src: url(../fonts/MagicSchoolTwo-4n5D.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HarryPotter';
    src: url(../fonts/HarryPotter-ov4z.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ScaryNotes';
    src: url(../fonts/ScaryNotesPersonalUse-ZVAxl.otf) format('truetype');
    font-weight: normal;
    font-style: normal;
}