body{
    background-color: burlywood;
}

h1{
    text-align: center;
    font-family: HarryPotter;
    color: black;
    font-size: 100px;
}

h3{
    font-size: 75px;
    font-style: bold;
}

.main-container{
    border-style: solid;
    border-width: 10px;
    border-color: black;
    padding: 10px;
    margin: auto;
}

.harry-container{
    text-align: left;
    margin: auto;
    padding: 25px;
    border-bottom: 2px black solid;
    border-spacing: inherit;
    font-family: Aquiline;
    font-size: 25px;
}

.dumbledore-container{
    text-align: right;
    margin: auto;
    padding: 25px;
    border-bottom: 2px black solid;
    border-spacing: inherit;
    font-family: MagicSchool;
    font-size: 25px;
}

.voldemort-container{
    text-align: left;
    margin: auto;
    padding: 25px;
    border-bottom: 2px black solid;
    border-spacing: inherit;
    font-family: ScaryNotes;
    font-size: 25px;
}

.spell-container{
    text-align: center;
    margin: auto;
    padding: 25px;
    border-bottom: 2px black solid;
    border-spacing: inherit;
    font-family: ScaryNotes;
    font-size: 25px;
}

button{
    text-align: right;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    transition-duration: 0.4s;
    font-variant: inital;
}

.button:hover .choice-01 {
    text-transform: uppercase;
    background-color: rgb(1, 107, 80);
  }
