body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;

}

.main-container{
    border-style: solid;
    border-width: 10px;
    border-color: rgb(255, 21, 21);
    padding: 10px;
    background-color: rgb(30, 7, 7);
    padding: 10px;
    margin: auto;
}
.sec-container{
    margin: auto;
    width: 75%;
    padding: 25px;
    border-bottom: 2px rgb(255, 21, 21) solid;
    border-spacing: inherit;
}

div.align{
    text-align: center;
}

#header{
    position: relative;
    color: rgb(255, 21, 21);
    font-size: 50px;
}

#sec-header{
    color: rgb(58, 95, 225);
}